@import "shared/utils/responsive.module.scss";
@import "shared/utils/colors.scss";

@mixin heading {
  font-family: "PoppinsRegular";
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  color: #0f1106;
}

.cartSummaryContainer {
  background-color: white;
  border: 1px solid $BLACK_300;
  @include responsiveProperty(
    (
      "width": 538,
      "max-height": 354,
      "border-radius": 20,
      "padding-top": 30,
      "padding-bottom": 30,
      "padding-left": 30,
      "padding-right": 30,
    )
  );

  div {
    .summaryHeading {
      @include heading();
      @include responsiveProperty(
        (
          "font-size": 22,
        )
      );
    }

    .feeMain {
      @include responsiveProperty(
        (
          "margin-bottom": 30,
          "margin-top": 21,
        )
      );

      .feeContainer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 1px solid;
        @include responsiveProperty(
          (
            "width": 490,
            "height": 52,
            "border-radius": 80,
            "font-size": 16,
            "padding-left": 17,
            "padding-right": 17,
          )
        );
      }
    }

    .subTotalCont {
      border-bottom: 1px solid $BLACK_300;
      @include responsiveProperty(
        (
          "padding-bottom": 13,
          "margin-bottom": 15,
        )
      );

      .subTitle,
      .subValue {
        @include responsiveProperty(
          (
            "font-size": 16,
          )
        );
      }

      .subValue {
        font-weight: 600;
      }
    }

    .totalCont {
      .totTitle,
      .totValue {
        @include responsiveProperty(
          (
            "font-size": 18,
          )
        );
        font-weight: 600;
      }
    }

    .proceedBtn {
      @include responsiveProperty(
        (
          "font-size": 18,
          "height": 52,
        )
      );
    }
  }
}
@media (max-width: 576px) {
  .cartSummaryContainer {
    width: 100% !important;
    max-height: calculatePixels(992, 354) !important;
    border-radius: calculatePixels(992, 20) !important;
    padding: calculatePixels(992, 30) !important;

    div {
      .summaryHeading {
        font-size: calculatePixels(992, 22) !important;
      }

      .feeMain {
        margin-bottom: calculatePixels(992, 30) !important;
        margin-top: calculatePixels(992, 21) !important;

        .feeContainer {
          width: 100% !important;
          height: calculatePixels(992, 52) !important;
          border-radius: calculatePixels(992, 80) !important;
          font-size: calculatePixels(992, 16) !important;
          padding-left: calculatePixels(992, 17) !important;
          padding-right: calculatePixels(992, 17) !important;
        }
      }

      .subTotalCont {
        padding-bottom: calculatePixels(992, 13) !important;
        margin-bottom: calculatePixels(992, 15) !important;

        .subTitle,
        .subValue {
          font-size: calculatePixels(992, 16) !important;
        }
      }

      .totalCont {
        .totTitle,
        .totValue {
          font-size: calculatePixels(992, 18) !important;
        }
      }

      .proceedBtn {
        height: calculatePixels(992, 52) !important;
        font-size: calculatePixels(992, 18) !important;
      }
    }
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .cartSummaryContainer {
    width: calculatePixels(1200, 600) !important;
    max-height: calculatePixels(1200, 354) !important;
    border-radius: calculatePixels(1200, 20) !important;
    padding: calculatePixels(1200, 30) !important;

    div {
      .summaryHeading {
        font-size: calculatePixels(1200, 22) !important;
      }

      .feeMain {
        margin-bottom: calculatePixels(1200, 30) !important;
        margin-top: calculatePixels(1200, 21) !important;

        .feeContainer {
          width: calculatePixels(1200, 552) !important;
          height: calculatePixels(1200, 52) !important;
          border-radius: calculatePixels(1200, 80) !important;
          font-size: calculatePixels(1200, 16) !important;
          padding-left: calculatePixels(1200, 17) !important;
          padding-right: calculatePixels(1200, 17) !important;
        }
      }

      .subTotalCont {
        padding-bottom: calculatePixels(1200, 13) !important;
        margin-bottom: calculatePixels(1200, 15) !important;

        .subTitle,
        .subValue {
          font-size: calculatePixels(1200, 16) !important;
        }
      }

      .totalCont {
        .totTitle,
        .totValue {
          font-size: calculatePixels(1200, 18) !important;
        }
      }

      .proceedBtn {
        height: calculatePixels(1200, 52) !important;
        font-size: calculatePixels(1200, 18) !important;
      }
    }
  }
}
