@import "shared/utils/responsive.module.scss";
@import "shared/utils/colors.scss";

.modalContainer1 {
  @include MRP(
    (
      "max-width": 550,
    )
  );
}

.modalContainer2 {
  @include MRP(
    (
      "max-width": 600,
    )
  );
}

.modalContainer3 {
  @include MRP(
    (
      "max-width": 800,
    )
  );
}

.modalContainer4 {
  max-width: fit-content !important;
}

@media screen and (max-width: 576px) {
  .modalContainer1 {
    max-width: 380px !important;
    margin: auto !important;
  }
  .modalContainer2 {
    max-width: 380px !important;
    margin: auto !important;
  }
  .modalContainer3 {
    max-width: 500px !important;
    margin: auto !important;
  }
}
