@import "shared/utils/responsive.module.scss";
@import "shared/utils/colors.scss";

.topLevelContainer {
  box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.1);
  padding: 0 10px;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 200;
}

.searchContainer {
  height: 40px;
  width: 270px;
  border-radius: 25px;
  border: 1px solid $LIGHT_GREY;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.searchContainer2 {
  height: 44px;
  max-width: 350px;
  border-radius: 25px;
  border: 1px solid $LIGHT_GREY;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.searchIconStyle {
  height: 20px;
  width: 20px;
}

.searchIconStyle2 {
  height: 24px;
  width: 24px;
  cursor: pointer;
  path {
    stroke-width: 0.5px;
    stroke: $PRIMARY;
    fill: $PRIMARY;
  }
}

.searchInputStyle {
  background-color: transparent;
  border: 0px;
  outline: 0px;
  width: 100%;
  font-family: PoppinsRegular;
  font-size: 12px;
}

.searchInputStyle::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-size: 10px;
  font-family: PoppinsRegular;
  color: $LIGHT_GREY;
  opacity: 1; /* Firefox */
}

.searchInputStyle:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  font-size: 10px;
  font-family: PoppinsRegular;
  color: $LIGHT_GREY;
}

.searchInputStyle::-ms-input-placeholder {
  /* Microsoft Edge */
  font-size: 10px;
  font-family: PoppinsRegular;
  color: $LIGHT_GREY;
}

@media screen and (min-width: 576px) {
  .customContainer {
    max-width: 100%;
  }
}

.headerContainer {
  height: 58px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logoStyle {
  height: 58px;
  width: 88.23px;
}

.listItemtext {
  font-family: PoppinsMedium;
  color: $BLACK;
  font-size: 16px;
  margin: 20px;

  &:hover {
    cursor: pointer;
    color: $PRIMARY;
  }
}

.activeItem {
  color: $PRIMARY !important;
}

.customBtnContainer {
  width: 131px;
  background-color: $PRIMARY;
  color: white;
  height: 48px;
  border: 0px;
  border-radius: 28px;
  font-family: PoppinsMedium;
  justify-content: center;
  align-items: center;
  display: flex;
}

.menuIconStyle {
  height: 30px;
  width: 30px;

  &:hover {
    cursor: pointer;
  }
}

.breadCrumbActive,
.breadCrumbDefault {
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  font-family: "PoppinsSemiBold";
  margin-left: 10px;
}

.breadCrumbDefault {
  color: #959cb6;
  margin-right: 10px;
  margin-left: 0;
}

// notifcation icons
.notificationIcon {
  height: 24px;
  width: 24px;
  stroke: #495057;
  path {
    stroke: #495057;
  }
}

.avatarProfile {
  display: flex;
  align-items: center;

  img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    object-fit: cover;
  }

  div {
    .avatarName {
      font-size: 14px;
      margin-bottom: -2px;
    }

    .avatarEmail {
      font-size: 12px;
      color: $Gray;
    }
  }
  .chevIcon {
    height: 20px;
    width: 20px;
    path {
      stroke: $Gray;
    }
  }
}

.countContainer {
  height: 18px;
  width: 18px;
  border-radius: 100%;
  background-color: $PRIMARY;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -10px;
  right: -10px;
  font-size: 12px;
  color: white;
  font-family: PoppinsRegular;
  cursor: pointer;
}

// -------------options container

.optionsContainer {
  width: 189px !important;
  right: 7px;
  top: 58px;
  z-index: 200;
}

.cartIcon {
  filter: grayscale(1);
  height: 24px;
  width: 24px;
}

.countContainer {
  height: 18px;
  width: 18px;
  border-radius: 100%;
  background-color: $PRIMARY;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -10px;
  right: -10px;
  font-size: 12px;
  color: white;
  font-family: PoppinsRegular;
  cursor: pointer;
}

.coinsIcon {
  height: 46px;
  width: 50px;
}

.totalCoinsLabel {
  font-family: PoppinsMedium;
  font-size: 10px;
  color: $Gray;
  text-align: left;
  white-space: nowrap;
}

.totalCoins {
  font-family: PoppinsRegular;
  font-size: 18px;
  color: $Secondary;
  text-align: left;
}

@media (max-width: 992px) {
  div {
    .avatarName {
      display: none;
    }

    .avatarEmail {
      display: none;
    }
  }
  .chevIcon {
    display: none;
  }
}

@media screen and (max-width: 992px) {
  .searchContainer {
    width: 230px;
    height: 38px;
  }
  .logoStyle {
    width: 89px;
    height: 57.859px;
  }
  .iconStyle {
    min-height: 20px;
    min-width: 20px;
    max-height: 20px;
    max-width: 20px;
  }
  .menuIconStyle {
    height: 35px;
    width: 35px;
  }
  .coinsIcon {
    height: 33px;
    width: 36px;
  }
  .totalCoins {
    font-size: 13px;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .searchContainer {
    width: 250px;
    height: 38px;
  }
  .logoStyle {
    width: 89px;
    height: 57.859px;
  }
  .listItemtext {
    font-size: 12px;
  }
  .iconStyle {
    min-height: 20px;
    min-width: 20px;
    max-height: 20px;
    max-width: 20px;
  }
  .coinsIcon {
    height: 33px;
    width: 36px;
  }
  .totalCoins {
    font-size: 13px;
  }
}

@media (min-width: 1200px) and (max-width: 1400px) {
  .searchContainer {
    width: 270px;
  }
}
