@import "shared/utils/responsive.module.scss";
@import "shared/utils/colors.scss";

.cardContainer {
  @include responsiveProperty(
    (
      "height": 368,
    )
  );
  width: 20%;
  flex: 0 0 20%;
  max-width: 20%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  background-color: transparent;
  overflow-y: hidden;
}

.bookThumbailWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include responsiveProperty(
    (
      "width": 240,
    )
  );
}

.bottomContainer {
  @include responsiveProperty(
    (
      "max-width": 225,
    )
  );
}

.progressContainer {
  @include responsiveProperty(
    (
      "height": 14,
      "border-radius": 10,
    )
  );
  width: 100%;
  background-color: rgba($color: #000000, $alpha: 0.1);
}

.fillProgressContainer {
  @include responsiveProperty(
    (
      "border-radius": 10,
    )
  );
  height: 100%;
  background-color: $Secondary;
}

.img {
  @include responsiveProperty(
    (
      "height": 335,
      "width": 230,
      "border-radius": 12,
    )
  );
  object-fit: contain;
  background-color: $CARD_BG;
}

.infoImg {
  @include responsiveProperty(
    (
      "height": 335,
      "width": 240,
      "border-radius": 12,
    )
  );
  object-fit: contain;
  background-color: $CARD_BG;
  .imgStyle {
    object-fit: cover !important;
  }
}

.completeContainer {
  position: absolute;
  bottom: 0px;
  right: 0px;
  @include responsiveProperty(
    (
      "height": 24,
      "width": 101,
    )
  );
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background-color: $PRIMARY;
  display: flex;
  align-items: center;
  justify-content: center;
  label {
    @include responsiveProperty(
      (
        "font-size": 10,
      )
    );
    font-family: PoppinsSemiBold;
    text-align: left;
    color: white;
  }
  .iconContainer {
    @include responsiveProperty(
      (
        "height": 15,
        "width": 15,
      )
    );
    border-radius: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    svg {
      @include responsiveProperty(
        (
          "height": 10,
          "width": 10,
        )
      );
      path {
        fill: $PRIMARY;
      }
    }
  }
}

.imgStyle {
  height: 100%;
  width: 100%;
  object-fit: contain;
  @include responsiveProperty(
    (
      "border-radius": 12,
    )
  );
}

.progressText {
  font-family: BitterSemiBold;
  @include responsiveProperty(
    (
      "font-size": 14,
    )
  );
  color: $BLACK;
}

.infoContainer {
  @include responsiveProperty(
    (
      "max-height": 368,
      "max-width": 240,
      "border-radius": 12,
    )
  );
  height: 100% !important;
  background-color: white;
  position: absolute;
  transition: max-height 1s ease-in-out;
  width: 0px !important;
  overflow: hidden;
  transition-delay: 0.1s;
}

.cardContainer:hover .infoContainer {
  @include responsiveProperty(
    (
      "max-height": 1000,
    )
  );
  height: fit-content !important;
  width: 100% !important;
  z-index: 2;
  box-shadow: 0px 5.14286px 24.42857px 0px rgba(0, 0, 0, 0.16);
}

.title {
  @include responsiveProperty(
    (
      "font-size": 18,
    )
  );
  font-family: BitterSemiBold;
  text-align: left;
  color: $BLACK;
}

.infoCardIcon {
  @include responsiveProperty(
    (
      "height": 20,
      "width": 20,
    )
  );
}

.languageLabel {
  @include responsiveProperty(
    (
      "font-size": 14,
    )
  );
  font-family: PoppinsRegular;
  text-align: left;
  color: $DARK_GREEN;
}

.starIcon {
  @include responsiveProperty(
    (
      "height": 16,
      "width": 16,
    )
  );
}

.starLabel {
  @include responsiveProperty(
    (
      "font-size": 12,
    )
  );
  font-family: PoppinsRegular;
  color: $Yellow;
  text-align: left;
}

@media (max-width: 480px) {
  .cardContainer {
    height: calculatePixels(576, 368) !important;
    width: 33.333%;
    flex: 0 0 33.333%;
    max-width: 33.333%;
  }
}

@media (min-width: 480px) and (max-width: 576px) {
  .cardContainer {
    height: calculatePixels(576, 368) !important;
    width: 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
}

@media (max-width: 576px) {
  .bottomContainer {
    max-width: calculatePixels(576, 225) !important;
  }
  .bookThumbailWrapper {
    width: calculatePixels(576, 240) !important;
  }
  .progressContainer {
    height: calculatePixels(576, 14) !important;
    border-radius: calculatePixels(576, 10) !important;
  }
  .fillProgressContainer {
    border-radius: calculatePixels(576, 10) !important;
  }
  .img {
    height: calculatePixels(576, 335) !important;
    width: calculatePixels(576, 230) !important;
    border-radius: calculatePixels(576, 12) !important;
  }
  .infoImg {
    height: calculatePixels(576, 335) !important;
    width: calculatePixels(576, 240) !important;
    border-radius: calculatePixels(576, 12) !important;
  }
  .completeContainer {
    height: calculatePixels(576, 24) !important;
    width: calculatePixels(576, 101) !important;
    label {
      font-size: calculatePixels(576, 10) !important;
    }
    .iconContainer {
      height: calculatePixels(576, 15) !important;
      width: calculatePixels(576, 15) !important;
      svg {
        height: calculatePixels(576, 10) !important;
        width: calculatePixels(576, 10) !important;
      }
    }
  }
  .imgStyle {
    border-radius: calculatePixels(576, 12) !important;
  }
  .progressText {
    font-size: calculatePixels(576, 14) !important;
  }
  .infoContainer {
    max-width: calculatePixels(576, 240) !important;
    border-radius: calculatePixels(576, 12) !important;
  }
  .title {
    font-size: calculatePixels(576, 18) !important;
  }
  .infoCardIcon {
    height: calculatePixels(576, 20) !important;
    width: calculatePixels(576, 20) !important;
  }
  .languageLabel {
    font-size: calculatePixels(576, 14) !important;
  }
  .starIcon {
    height: calculatePixels(576, 16) !important;
    width: calculatePixels(576, 16) !important;
  }
  .starLabel {
    font-size: calculatePixels(576, 12) !important;
  }
}

@media (min-width: 576px) and (max-width: 992px) {
  .bottomContainer {
    max-width: calculatePixels(768, 225) !important;
  }
  .bookThumbailWrapper {
    width: calculatePixels(768, 240) !important;
  }
  .progressContainer {
    height: calculatePixels(768, 14) !important;
    border-radius: calculatePixels(768, 10) !important;
  }
  .fillProgressContainer {
    border-radius: calculatePixels(768, 10) !important;
  }
  .img {
    height: calculatePixels(768, 335) !important;
    width: calculatePixels(768, 230) !important;
    border-radius: calculatePixels(768, 12) !important;
  }
  .infoImg {
    height: calculatePixels(768, 335) !important;
    width: calculatePixels(768, 240) !important;
    border-radius: calculatePixels(768, 12) !important;
  }
  .completeContainer {
    height: calculatePixels(768, 24) !important;
    width: calculatePixels(768, 101) !important;
    label {
      font-size: calculatePixels(768, 10) !important;
    }
    .iconContainer {
      height: calculatePixels(768, 15) !important;
      width: calculatePixels(768, 15) !important;
      svg {
        height: calculatePixels(768, 10) !important;
        width: calculatePixels(768, 10) !important;
      }
    }
  }
  .imgStyle {
    border-radius: calculatePixels(768, 12) !important;
  }
  .progressText {
    font-size: calculatePixels(768, 14) !important;
  }
  .infoContainer {
    max-width: calculatePixels(768, 240) !important;
    border-radius: calculatePixels(768, 12) !important;
  }
  .title {
    font-size: calculatePixels(768, 18) !important;
  }
  .infoCardIcon {
    height: calculatePixels(768, 20) !important;
    width: calculatePixels(768, 20) !important;
  }
  .languageLabel {
    font-size: calculatePixels(768, 14) !important;
  }
  .starIcon {
    height: calculatePixels(768, 16) !important;
    width: calculatePixels(768, 16) !important;
  }
  .starLabel {
    font-size: calculatePixels(768, 12) !important;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .cardContainer {
    height: calculatePixels(768, 368) !important;
    width: 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .cardContainer {
    height: calculatePixels(768, 368) !important;
    width: 20%;
    flex: 0 0 20%;
    max-width: 20%;
  }
}
