// @import "./../customInput/style.module.scss";
@import "shared/components/common/customInput/style.module.scss";

.selectionStyle {
  width: 100%;
  background-color: white;
  border: 0px;
  outline: 0;
  font-family: "PoppinsRegular";
  font-size: 14px;
  text-align: left;
}

.optionsContainer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: white;
  border-radius: 14px;
  box-shadow: 0px 0px 2px 0px #e4e4e4;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  top: 71px;
  //   right: -5px;
  z-index: 3;
  height: fit-content;
  box-shadow: 0px 2px 5px lightgray;
  max-height: 255px;
  overflow: auto;
}

.optionLabel {
  width: 100%;
  font-family: "PoppinsRegular";
  font-size: 13px;
  border-bottom: 1px solid white;
  cursor: pointer;
  text-align: left;
  min-height: 50px;
  white-space: nowrap;
}

.optionLabel:hover {
  background-color: #e4e4e4;
}
.arrow {
  width: 20px;
  height: 20px;
}
