@import "shared/components/common/heading/style.module.scss";
@import "shared/utils/colors.scss";
.bookItemContainer {
    display: flex;
    justify-content: space-between;
    // margin-bottom: 10px;
    .bookItemHeading {
        @extend .heading;
        white-space: nowrap;
        font-size: 15px;
        font-family: 'PoppinsSemiBold';
    }

    span {
        font-size: 16px;
        color: $Gray;
    }
}
@media screen and (max-width:621px) {
    .bookInfoContainer {
        .bookItemContainer {
            margin-left: 0 !important;
            margin-top: 3px !important;
        }

        // .marginLeftRight {
        //     margin-left: 13px !important;
        //     margin-right: 13px !important;
        // }

        // .marginLeft {
        //     margin-left: 13px !important;
        // }
    }
}

@media screen and (max-width:401px) {
    .bookInfoContainer {
        flex-direction: column;
        .bookItemContainer {
            margin-left: 0 !important;
            margin-top: 3px !important;
        }

    }
}