@import "shared/utils/responsive.module.scss";
@import "shared/utils/colors.scss";

.header {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
}

.heading {
  @include MRP(
    (
      "font-size": 32,
    )
  );
  font-family: BitterSemiBold;
  color: $BLACK;
  text-align: center;
  text-transform: capitalize;
}

.inputLabel {
  font-family: PoppinsMedium;
  @include MRP(
    (
      "font-size": 16,
    )
  );
}

.inputStyle {
  font-family: PoppinsRegular;
  @include MRP(
    (
      "font-size": 16,
    )
  );
  color: $BLACK;
}

.btnStyle {
  font-family: PoppinsMedium;
  @include MRP(
    (
      "font-size": 16,
      "height": 52,
      "width": 360,
      "border-radius": 32,
    )
  );
}

.inputContainer {
  @include MRP(
    (
      "height": 52,
      "width": 360,
      "padding": 10,
    )
  );
}

@media screen and (max-width: 576px) {
  .heading {
    font-size: calculatePixels(992, 32) !important;
  }
  .inputContainer {
    height: calculatePixels(992, 52) !important;
    width: calculatePixels(992, 360) !important;
    padding: calculatePixels(992, 10) !important;
  }
  .inputLabel {
    font-size: calculatePixels(992, 16) !important;
  }
  .inputStyle {
    font-size: calculatePixels(992, 16) !important;
  }
  .btnStyle {
    font-size: calculatePixels(992, 16) !important;
    height: calculatePixels(992, 52) !important;
    width: calculatePixels(992, 360) !important;
    border-radius: calculatePixels(992, 32) !important;
  }
}
