@import "shared/utils/colors.scss";
@import "shared/utils/responsive.module.scss";

.testmonialContainer {
  width: 525px;
  height: 267px;
  border-radius: 8px;
}

@media screen and (max-width: 576px) {
  .testmonialContainer {
    width: 90%;
    height: 185px;
  }
}
@media screen and (min-width: 576px) {
  .testmonialContainer {
    width: 90%;
    height: 185px;
  }
}
@media screen and (min-width: 768px) {
  .testmonialContainer {
    width: 90%;
    height: 185px;
  }
}
@media screen and (min-width: 992px) {
  .testmonialContainer {
    width: 365px;
    height: 185px;
  }
}

@media screen and (min-width: 1200px) {
  .testmonialContainer {
    width: 446px;
    height: 226px;
  }
}

@media screen and (min-width: 1400px) {
  .testmonialContainer {
    width: 525px;
    height: 267px;
  }
}

@media screen and (min-width: 1600px) {
  .testmonialContainer {
    width: 598px;
    height: 304px;
  }
}

@media screen and (min-width: 1800px) {
  .testmonialContainer {
    width: 672px;
    height: 342px;
  }
}

@media screen and (min-width: 2000px) {
  .testmonialContainer {
    width: 745px;
    height: 379px;
  }
}
