.img {
  height: 100%;
  max-width: 100%;
  width: 100%;
}
.bookWrapper {
  perspective: 1500px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 100px);
}
.bookPages {
  height: 600px;
  width: 800px;
  position: relative;
  border: 10px solid transparent;
  padding: 15px;
}
.bookPages::before {
  content: "";
  position: absolute;
  background: url("../../../../../assets/images/frame_left.png") top
    left/contain no-repeat;
  z-index: -1;
  height: 100%;
  width: 50px;
  top: 50%;
  left: -21px;
  transform: translateY(-50%);
  opacity: 1;
}
.container-padding {
  padding: 20px !important;
}
.bookPages::after {
  content: "";
  position: absolute;
  background: url("../../../../../assets/images/frame_right.png") top
    left/contain no-repeat;
  z-index: -1;
  height: 100%;
  width: 50px;
  top: 50%;
  right: -30px;
  opacity: 0;
  transform: translateY(-50%);
}
.bookPages.opened::after {
  opacity: 1;
  transition: opacity 0.4s 0.1s ease-in-out;
}
.bookPages.opposite::before {
  opacity: 1;
  transition: opacity 0.6s 0.9s ease-in-out;
}
.bookPages.complete::before {
  opacity: 0;
  /* transition: opacity 1s 0.9s; */
}
.singlePage,
.loadSinglePage {
  position: absolute;
  top: 0;
  right: 0;
  float: none;
  height: 100%;
  width: 50%;
  background: grey;
  transform-origin: 0 0;
  transition: transform 0.3s;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  cursor: pointer;
  user-select: none;
}
.loadSinglePage {
  backface-visibility: visible;
  pointer-events: none;
  width: 100%;
  // transform: rotateY(-180deg);
}
/* .single-page:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0);
    transition: background 0.7s;
    z-index: 2;
} */
.singlePage:nth-child(even):before {
  background: rgba(0, 0, 0, 0.2);
}
.singlePage:nth-child(even) {
  pointer-events: none;
  transform: rotateY(180deg);
  transform-origin: 100% 0;
  left: 0;
  border-radius: 4px 0 0 4px;
  border-color: black;
  background-image: linear-gradient(
    to left,
    rgba(0, 0, 0, 0.12) 0%,
    rgba(0, 0, 0, 0) 10%
  );
}
.singlePage.flipped:nth-child(odd) {
  pointer-events: none;
  transform: rotateY(-180deg);
}
.singlePage.flipped:nth-child(odd):before {
  background: rgba(0, 0, 0, 0.2);
}
.singlePage.flipped:nth-child(even) {
  pointer-events: all;
  transform: rotateY(0deg);
}
/* .single-page:nth-child(odd)::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0px;
    width: 4px;
    height: 100%;
    background: linear-gradient(to left, transparent, #37373770);
}
.single-page:nth-child(even)::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0px;
    width: 4px;
    height: 100%;
    background: linear-gradient(to right, transparent, #4e4e4e70);
} */

.bookPages::before {
  transition: 0.2s 0.1s ease;
}
.complete .bookPages::before {
  transition: 0.2s 0.6s ease;
}

@media screen and (max-width: 1199px) {
  .bookWrapper {
    align-items: flex-start;
  }
}

@media screen and (max-width: 991px) {
  .bookPages {
    height: 500px;
  }
}

@media screen and (max-height: 700px) {
  .bookPages {
    height: 530px;
    width: 720px;
  }
  .container-padding {
    padding: 5px 10px !important;
  }
  .bookWrapper {
    min-height: unset;
    height: calc(100vh - 70px);
  }
}
