@import "pages/kid/books/style.module.scss";

.infoContainer {
    @include responsiveProperty(("margin-top": -30,
        ));
}

.avatar {
    @include responsiveProperty(("height": 160,
            "width": 160,
        ));
    border: 4px solid white;
    border-radius: 100%;
    object-fit: cover;
    box-shadow: 0px 4px 6px -2px rgba(16, 24, 40, 0.05),
        0px 12px 16px -4px rgba(16, 24, 40, 0.1);
}

.publisherName {
    @include responsiveProperty(("font-size": 38,
            "height":20,
            "width":130));
    font-family: BitterSemiBold;
    color: $DARK_GREEN;
    text-align: left;
    @include elipsis(1);
}

.verifyIcon {
    @include responsiveProperty(("height": 28,
            "width": 28,
        ));
}

.publisherBadge {
    @include responsiveProperty(("font-size": 20,
            "height":14,
            "width":116,
            ));
            margin-top:6px
}

.btn1Style {
    @include responsiveProperty(("height": 40,
            "width": 115,
            "border-radius": 8,
            "font-size": 14,
            "gap": 7,
        ));

}

.btn2Style {
    @include responsiveProperty(("height": 40,
            "width": 106,
            "border-radius": 8,
            "font-size": 14,
            "gap": 7,
        ));
}

.icon1Style {
    @include responsiveProperty(("height": 20,
            "width": 20,
        ));
}
// @media screen and (max-width: 576px) {
//     .title {
//       font-size: calcultn(0.54, 48) !important;
//     }
  
//     .coverContainer {
//       height: calcultn(0.7, 300) !important;
//     }
  
//     .imgIcon {
//       height: calcultn(0.7, 84) !important;
//       width: calcultn(0.7, 84) !important;
//     }
  
//     .infoContainer {
//       margin-top: calcultn(0.7, -30) !important;
//     }
  
//     .avatar {
//       height: calcultn(0.7, 160) !important;
//       width: calcultn(0.7, 160) !important;
//       border: 2px solid white !important;
//     }
  
//     .publisherName {
//       font-size: calcultn(0.7, 38) !important;
//     }
  
//     .verifyIcon {
//       height: calcultn(0.7, 28) !important;
//       width: calcultn(0.7, 28) !important;
//     }
  
//     .publisherBadge {
//       font-size: calcultn(0.7, 20) !important;
//     }
  
//     .btn1Style {
//       height: calcultn(0.7, 40) !important;
//       width: calcultn(0.7, 115) !important;
//       border-radius: calcultn(0.7, 8) !important;
//       font-size: calcultn(0.7, 14) !important;
//       gap: calcultn(0.7, 7) !important;
//     }
  
//     .btn2Style {
//       height: calcultn(0.7, 40) !important;
//       width: calcultn(0.7, 106) !important;
//       border-radius: calcultn(0.7, 8) !important;
//       font-size: calcultn(0.7, 14) !important;
//       gap: calcultn(0.7, 7) !important;
//     }
  
//     .icon1Style {
//       height: calcultn(0.7, 20) !important;
//       width: calcultn(0.7, 20) !important;
//     }
  
//     .icon2Style {
//       height: calcultn(0.7, 20) !important;
//       width: calcultn(0.7, 20) !important;
//     }
  
//     .bioLabel {
//       font-size: calcultn(0.7, 16) !important;
//       max-width: 100%;
//     }
//   }
  
  @media (min-width: 576px) and (max-width: 992px) {
   
  
    .infoContainer {
      margin-top: calcultn(0.54, -30) !important;
    }
  
    .avatar {
      height: calcultn(0.54, 160) !important;
      width: calcultn(0.54, 160) !important;
      border: 2px solid white !important;
    }
  
    .publisherName {
      height:calcultn(0.54, 20) !important;
      width:calcultn(0.54, 130) !important;
    }
  
    .verifyIcon {
      height: calcultn(0.54, 28) !important;
      width: calcultn(0.54, 28) !important;
    }
  
    .publisherBadge {
      height: calcultn(0.54, 14) !important;
      width: calcultn(0.54, 116) !important;
      margin-top: 3px !important;
    }
  
    .btn1Style {
      height: calcultn(0.54, 40) !important;
      width: calcultn(0.54, 115) !important;
      border-radius: calcultn(0.54, 8) !important;
      font-size: calcultn(0.54, 14) !important;
      gap: calcultn(0.54, 7) !important;
    }
  
    .btn2Style {
      height: calcultn(0.54, 40) !important;
      width: calcultn(0.54, 106) !important;
      border-radius: calcultn(0.54, 8) !important;
      font-size: calcultn(0.54, 14) !important;
      gap: calcultn(0.54, 7) !important;
    }
  
    .icon1Style {
      height: calcultn(0.54, 20) !important;
      width: calcultn(0.54, 20) !important;
    }
  
    // .icon2Style {
    //   height: calcultn(0.54, 20) !important;
    //   width: calcultn(0.54, 20) !important;
    // }
  
    // .bioLabel {
    //   font-size: calcultn(0.54, 16) !important;
    //   max-width: calcultn(0.54, 768) !important;
    // }
  }