@import "shared/utils/colors.scss";
@import "shared/components/header/main/style.module.scss";

.backDropContainer {
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  z-index: 400;
  padding: 0px !important;
  transition: visibility 0.2s;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.mainContainer {
  background-color: white;
  max-width: 340px;
  height: 100%;
  padding: 0px !important;
  transition: transform 0.3s;
  position: absolute;
  right: 0;
  width: 100%;
  overflow: hidden;
  -ms-overflow-style: none !important;
  scrollbar-width: none !important;
}

.hidden {
  transform: translateX(340px);
}

.shown {
  transform: translateX(0px);
}

.mainContainer::-webkit-scrollbar {
  display: none;
}

.crossIconContainer {
  height: 30px;
  width: 30px;
  border-radius: 8px;
  border: 1px solid $LIGHT_GREY;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scrollContainer {
  height: 100%;
  overflow-y: auto;
  -ms-overflow-style: none !important;
  scrollbar-width: none !important;
}

.navItemContainer,
.activeNavItemContainer {
  display: flex;
  align-items: center;
  padding-left: 33px;
  height: 44px;

  svg {
    margin-right: 12px;
  }

  .heading,
  .logout {
    color: $Gray;
    font-family: "PoppinsRegular";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
  }

  &:hover {
    background-color: #fff3ff;
    cursor: pointer;
  }
}

.activeNavItemContainer {
  background-color: $LightPrimary;
  border-right: 3px solid $PRIMARY;

  .heading {
    font-weight: 600;
    color: $PRIMARY;
  }

  svg path {
    fill: $PRIMARY;
  }
}

.filterButtonContainer {
  border-top: 1px solid rgba(0, 0, 0, 0.25);
  width: 100%;
  background-color: white;
  position: absolute;
  display: flex;
  z-index: 99;
  bottom: 0px;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 16px;

  .filterButton {
    width: 149px;
    text-transform: uppercase;
    font-size: 13px !important;
  }
  .resetfilterButton {
    width: 149px;
    text-transform: uppercase;
    font-size: 13px;
    background-color: white;
    color: $PRIMARY;
    border: 1px solid $PRIMARY;
  }

  .iconStyle {
    margin-left: 10px;
    min-height: 16px !important;
    min-width: 16px !important;
    max-height: 16px !important;
    max-width: 16px !important;

    path {
      stroke: white;
    }
  }
}

.sugestionContainer {
  top: 40px !important;
  bottom: auto !important;
}
