@import "shared/utils/responsive.module.scss";
@import "shared/utils/colors.scss";

.reportDialog {
  @include MRP(
    (
      "max-width": 530,
    )
  );
}

.labelText {
  @include MRP(
    (
      "font-size": 28,
    )
  );
  font-family: PoppinsMedium;
  color: #0f1106;
}

.reportIcon {
  @include MRP(
    (
      "height": 79,
      "width": 79,
    )
  );
}

.reasonContainer {
  @include MRP(
    (
      "min-height": 160,
      "max-height": 236,
      "border-radius": 24,
      "font-size": 14,
    )
  );
  height: 100%;
  width: 100%;
  background-color: #fffbf3;
  border: 1px solid $GRAY_300;
  overflow-y: auto;
  font-family: PoppinsRegular;
}

.crossContainer {
  position: absolute;
  right: 0px;
  @include MRP(
    (
      "top": 10,
      "height": 30,
      "width": 30,
    )
  );
  border-radius: 100%;
  border: 2px solid $GRAY_300;
  display: flex;
  align-items: center;
  justify-content: center;
  svg {
    @include MRP(
      (
        "height": 12,
        "width": 12,
      )
    );
    path {
      stroke: $Secondary;
    }
  }
  &:hover {
    cursor: pointer;
  }
}

@media screen and (max-width: 576px) {
  .reportDialog {
    max-width: 100% !important;
    margin: auto !important;
  }
  .labelText {
    font-size: calculatePixels(768, 28) !important;
  }
  .reportIcon {
    height: calculatePixels(768, 79) !important;
    width: calculatePixels(768, 79) !important;
  }

  .reasonContainer {
    min-height: calculatePixels(768, 160) !important;
    max-height: calculatePixels(768, 236) !important;
    border-radius: calculatePixels(768, 24) !important;
    font-size: calculatePixels(768, 14) !important;
  }

  .crossContainer {
    height: calculatePixels(768, 30) !important;
    width: calculatePixels(768, 30) !important;
    top: calculatePixels(768, 10) !important;
    svg {
      height: calculatePixels(768, 12) !important;
      width: calculatePixels(768, 12) !important;
    }
  }
}
