@import "shared/utils/colors.scss";
@import "shared/utils/responsive.module.scss";

.bookMainHeading {
  font-size: 18px;
  font-family: PoppinsMedium;
  text-align: left;
  color: $BLACK;
}

.bookMainTitle {
  font-size: 14px;
  font-family: PoppinsRegular;
  text-align: left;
  color: $Gray;
}

.buttonMain {
  max-width: 140px;
}

//  -------------------------------table styling
.tableMain {
  background-color: white;
  border: 1px solid #e4e7ec;
  box-shadow: 0px 4px 8px -2px rgba(16, 24, 40, 0.1),
    0px 2px 4px -2px rgba(16, 24, 40, 0.06);
  border-radius: 8px;
}

.bookWrapper {
  align-items: center;
}

.tableContentLabel {
  font-size: 14px;
  font-family: PoppinsRegular;
  color: $BLACK;
  height: 100%;
  vertical-align: middle;
}

.kidAvt {
  height: 32px;
  width: 32px;
  border-radius: 100%;
  object-fit: cover;
}

.actionContainer {
  height: 36px;
  width: 36px;
  border-radius: 100%;
  background-color: $Ultra_Light_Grey;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    cursor: pointer;
  }
}

.actionIcon {
  height: 20px;
  width: 20px;
}
