@import "shared/utils/colors.scss";

.cardContainer {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(16, 24, 40, 0.1),
    0px 1px 2px rgba(16, 24, 40, 0.06);
  border-radius: 8px;
  padding: 20px 16px;
}

.chart {
  height: 100% !important;
  width: fit-content !important;
  max-width: 99% !important;
}

.title {
  font-size: 14px;
  font-family: PoppinsMedium;
  color: $BLACK;
  text-align: left;
}

.color {
  height: 10px;
  width: 10px;
  border-radius: 100%;
}

.primary {
  background-color: $PRIMARY;
}

.secondary {
  background-color: $Secondary;
}

.green {
  background-color: $DARK_GREEN;
}

.graphLabel {
  font-size: 10px;
  font-family: PoppinsRegular;
  color: $BLACK;
  text-align: left;
}

.datePicker {
  display: none;
}

.dateLabel {
  font-size: 14px;
  font-family: PoppinsRegular;
  color: $GRAY2;
  text-align: left;
  &:hover {
    cursor: pointer;
  }
}

.chevIcon {
  height: 18px;
  width: 18px;
  path {
    stroke: $LIGHT_GREY;
  }
}
