$Secondary: #ef437b;
$PRIMARY: #9a469b;
$LightPrimary: #fff3ff;
$DARK_GREEN: #1897a6;
$BLACK: #0f1106;
$BLACK_600: #605f5f;
$BLACK_300: #cbcbcb;
$WHITE: #ffffff;
$GREEN: #58c0bf;
$GREEN_1: #3ab54a;
$DARK_GREEN_2: #027a48;
$LIGHT_GREY: #adb5bd;
$Ultra_Light_Grey: #f2f7fb;
$Orange: #f9a11b;
$lightYellow: #fffbf3;
$lightYellow_01: #fffaeb;
$lightBlue_01: #eff8ff;
$lightPink: #fdf2fa;
$Pink: #c11574;
$Blue: #175cd3;
$brown: #b54708;
$BorderGray: #e2e2e2;
$Gray: #868e96;
$GRAY2: #6e7c87;
$GRAY_300: #d0d5dd;
$Light_Grey_1: #e4e7ec;
$Light_Grey_2: #e4e4e4;
$Light_Grey_3: #e9ecef;
$Light_Grey_4: #E5EAF4;
$LightBlue: #f2ffff;
$Yellow: #fda504;
$OffWhite: #f6f9fc;
$LightBlueWhite: #e2ebfa;
$Light_Blue: #e6f6fd;
$LightGreen: #ecfdf3;
$Green: #027a48;
$GRAYWHITE: #e5e4e2;
$GRAYTRANSPARENT: #e5e4e285;
$BG: #f9fafb;
$RED: #f03322;
$CARD_BG: #e0e6ed;
$DISABLE_BTN: #ced4da;
