@import "shared/utils/colors.scss";
@import "shared/utils/responsive.module.scss";

.heading {
  font-size: 28px;
  font-family: PoppinsSemiBold;
  text-align: left;
  color: $PRIMARY;
}

.margin {
  @include responsiveProperty(
    (
      "margin-top": 15,
    )
  );
}

.filterContainer {
  position: absolute;
  right: 0px;
  bottom: 10px;
  @include responsiveProperty(
    (
      "height": 44,
      "border-radius": 32,
      "width": 102,
    )
  );
  border: 1px solid $LIGHT_GREY;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  &:hover {
    cursor: pointer;
  }
}

.filterIcon {
  @include responsiveProperty(
    (
      "height": 20,
      "width": 20,
    )
  );
}

.filterLabel {
  font-family: PoppinsMedium;
  @include responsiveProperty(
    (
      "font-size": 14,
    )
  );
  text-align: center;
  color: $Gray;
  &:hover {
    cursor: pointer;
  }
}

.optionsContainer {
  @include responsiveProperty(
    (
      "top": 35,
    )
  );
  width: 140px !important;
  z-index: 2;
  right: 0px;
}

@media (max-width: 576px) {
  .heading {
    font-size: 20px;
  }
  .margin {
    margin-top: calculatePixels(768, 15) !important;
  }
  .filterContainer {
    height: calculatePixels(768, 44) !important;
    border-radius: calculatePixels(768, 32) !important;
    width: calculatePixels(768, 102) !important;
  }
  .filterIcon {
    height: calculatePixels(768, 20) !important;
    width: calculatePixels(768, 20) !important;
  }
  .filterLabel {
    font-size: calculatePixels(768, 14) !important;
  }
  .optionsContainer {
    top: calculatePixels(768, 35) !important;
  }
}

@media (min-width: 576px) and (max-width: 992px) {
  .margin {
    margin-top: calculatePixels(1200, 15) !important;
  }
  .filterContainer {
    height: calculatePixels(1200, 44) !important;
    border-radius: calculatePixels(1200, 32) !important;
    width: calculatePixels(1200, 102) !important;
  }
  .filterIcon {
    height: calculatePixels(1200, 20) !important;
    width: calculatePixels(1200, 20) !important;
  }
  .filterLabel {
    font-size: calculatePixels(1200, 14) !important;
  }
  .optionsContainer {
    top: calculatePixels(1200, 35) !important;
  }
}
