@import "shared/utils/colors.scss";

.paginationContainer {
  display: flex;
  list-style-type: none;
  .paginationItem {
    height: 38px;
    width: 38px;
    text-align: center;
    margin: auto 4px;
    color: $BLACK;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.01071em;
    border-radius: 8px;
    line-height: 1.43;
    font-size: 14px;
    font-family: PoppinsMedium;
    min-width: 32px;

    &:hover {
      background: $Secondary;
      color: white !important;
      cursor: pointer;
    }
  }
}

.active {
  background: $Secondary;
  color: white !important;
}

.dots {
  color: $Gray;
}

.arrowContainer {
  height: 38px;
  width: 38px;
  border: 1px solid #eae9f2;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.actionLabel {
  font-family: PoppinsMedium;
  font-size: 14px;
  color: $BLACK;
}
.iconStyle path {
  fill: $Gray;
}

.activeIcon path {
  fill: black !important;
}

.smallScreenDisplay {
  display: none;
}

@media screen and (max-width: 400px) {
  .display {
    display: none;
  }
  .paginationContainer {
    flex-direction: column-reverse;
    align-items: center;
  }
  .smallScreenDisplay {
    display: flex;
  }
}
