@import "shared/utils/colors.scss";
@import "shared/utils/responsive.module.scss";

.topContainer {
  background-color: white;
  width: 100%;
  @include responsiveProperty(
    (
      "margin-bottom": 50,
    )
  );
}

.seperator {
  height: 1px;
  width: 100%;
  background-color: $Light_Grey_1;
  @include responsiveProperty(
    (
      "margin-top": 50,
      "margin-bottom": 30,
    )
  );
}
