@import "shared/components/common/heading/style.module.scss";

.settingContainer {
    padding: 22px 37px;
    max-width: 1120px;
    background: #FFFFFF;
    border: 1px solid #E2EBFA;
    border-radius: 8px;
    margin: 0 auto;

    .padding_container {
        text-align: left;
        padding: 0 4px;
    }

    .setting_heading {
        @extend .heading;
        font-weight: 600;
        font-size: 21px;
        color: #9A469B;
        font-family: 'PoppinsRegular';
    }

    @media screen and (max-width:500px) {

        .padding_container {
            text-align: left;
            padding: 0 6px;
        }
    }
}