@import "shared/utils/responsive.module.scss";
@import "shared/utils/colors.scss";

.socialContainer {
  @include MRP(
    (
      "height": 28,
      "width": 28,
    )
  );
  border-radius: 100%;
  background-color: $Secondary;
  display: flex;
  justify-content: center;
  align-items: center;
}

.iconStyle {
  @include MRP(
    (
      "height": 16,
      "width": 16,
    )
  );
}

@media screen and (max-width: 576px) {
  .socialContainer {
    height: calculatePixels(992, 28) !important;
    width: calculatePixels(992, 28) !important;
  }
  .iconStyle {
    height: calculatePixels(992, 16) !important;
    width: calculatePixels(992, 16) !important;
  }
}
