@import "pages/kid/books/style.module.scss";
.coverContainer {
  @include responsiveProperty(
    (
      "min-height": 300,
      "max-height": 300,
    )
  );
  height: 100%;
}

@media screen and (max-width: 576px) {
  .coverContainer {
    min-height: calculatePixels(992, 300) !important;
    max-height: calculatePixels(992, 300) !important;
  }
}

@media (min-width: 576px) and (max-width: 992px) {
  .coverContainer {
    min-height: calculatePixels(1200, 300) !important;
    max-height: calculatePixels(1200, 300) !important;
  }
}
