@import "shared/utils/responsive.module.scss";
@import "shared/utils/colors.scss";

.heading {
  font-family: BitterSemiBold;
  @include MRP(
    (
      "font-size": 28,
    )
  );
  text-align: center;
  color: $BLACK;
}

.paragraph {
  font-family: PoppinsRegular;
  @include MRP(
    (
      "font-size": 16,
    )
  );
  text-align: center;
  color: $Gray;
  span {
    color: $BLACK;
    text-decoration: underline;
    cursor: pointer;
  }
}

.buttonContainer {
  @include MRP(
    (
      "height": 52,
      "border-radius": 32,
      "font-size": 16,
    )
  );
  width: 100%;
}

.insufficientIcon {
  @include MRP(
    (
      "width": 389.6,
      "height": 240.141,
    )
  );
  path {
    fill: red;
  }
}

.iconStyle {
  @include MRP(
    (
      "width": 24,
      "height": 24,
    )
  );
}

@media screen and (max-width: 576px) {
  .heading {
    font-size: calculatePixels(768, 28) !important;
  }
  .paragraph {
    font-size: calculatePixels(768, 16) !important;
  }
  .buttonContainer {
    height: calculatePixels(768, 52) !important;
    border-radius: calculatePixels(768, 32) !important;
    font-size: calculatePixels(768, 16) !important;
  }
  .insufficientIcon {
    height: calculatePixels(768, 240.141) !important;
    width: calculatePixels(768, 389.6) !important;
  }
  .iconStyle {
    height: calculatePixels(768, 24) !important;
    width: calculatePixels(768, 24) !important;
  }
}
