@import "shared/utils/colors.scss";
@import "shared/utils/responsive.module.scss";

.heading {
  font-size: 28px;
  font-family: PoppinsSemiBold;
  text-align: left;
  color: $BLACK;
}

.bgContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../../../assets/images/leader-ship-month-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  @include responsiveProperty(("min-height": 537,
      "border-radius": 40,
    ));
}

.filterContainer {
  position: absolute;
  right: 0px;
  top: -5px;

  &:hover {
    cursor: pointer;
  }
}

.filterIcon {
  @include responsiveProperty(("height": 20,
      "width": 20,
    ));
}

.filterLabel {
  font-family: PoppinsRegular;
  @include responsiveProperty(("font-size": 16,
    ));
  text-align: center;
  color: black;

  &:hover {
    cursor: pointer;
  }
}

.optionsContainer {
  @include responsiveProperty(("top": 30,
    ));
  width: 140px !important;
  z-index: 2;
  right: 0px;
}

.readerOfMonthContainer {
  @include responsiveProperty(("height": 276,
      "width": 578,
      "border-radius": 20,
      "margin-top": 190,
    ));
  background-color: #ffe9ff;
  border: 1px solid $PRIMARY;
}

.readerOfMonthSubContainer {
  @include responsiveProperty(("min-height": 258,
      "max-height": 258,
      "min-width": 474,
      "max-width": 474,
      "border-radius": 36,
      "margin-top": -100,
    ));
  height: 100%;
  width: 100%;
  border: 1px solid white;
  background-color: $Secondary;
}

.title {
  font-family: BitterSemiBold;
  @include responsiveProperty(("font-size": 32,
    ));
  color: $DARK_GREEN;
  text-align: center;
  text-transform: capitalize;

  span {
    color: $Secondary;
  }
}

.avatarStyle {
  @include responsiveProperty(("height": 102,
      "width": 102,
    ));
  border-radius: 100%;
  border: 4px solid white;
  object-fit: cover;
}

.badgeStyle {
  @include responsiveProperty(("min-height": 208,
      "max-height": 208,
      "min-width": 158,
      "max-width": 158,
    ));
  height: 100%;
  width: 100%;
}

.winnerName {
  @include responsiveProperty(("font-size": 16,
    ));
  font-family: PoppinsSemiBold;
  color: white;
  text-align: left;
  text-transform: capitalize;
}

.winnerAge {
  @include responsiveProperty(("font-size": 14,
    ));
  font-family: PoppinsSemiBold;
  color: white;
  text-align: left;
  text-transform: capitalize;
}

.userInfoContainer {
  @include responsiveProperty(("margin-top": -130,
    ));
}

.statContainer {
  @include responsiveProperty(("height": 74,
      "width": 163,
      "border-radius": 12,
    ));
  background-color: rgba($color: #ffffff, $alpha: 0.2);
}

.statCount {
  @include responsiveProperty(("font-size": 16,
    ));
  font-family: PoppinsMedium;
  color: white;
  text-align: left;
}

.statLabel {
  @include responsiveProperty(("font-size": 14,
    ));
  font-family: PoppinsRegular;
  color: white;
  text-align: left;
  text-transform: capitalize;
}

@mixin headerContainerBg {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  @include responsiveProperty(("min-height": 200,
    ));
}

.headerContainer {
  @include headerContainerBg();
  background-image: url("../../../assets/images/kid-leadership-header-section-bg.png");
  border-radius: 16px;
  margin-bottom: 40px;
}

.mainContainer {
  @include responsiveProperty(("height": 150,
    ));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: auto;
}

.mainHeading {
  color: white;
  font-family: BitterSemiBold;
  @include responsiveProperty(("font-size": 40,
    ));
  text-align: left;
  text-transform: capitalize;
  margin-left: 20px;
}

.subHeading {
  color: white;
  font-family: PoppinsRegular;
  @include responsiveProperty(("font-size": 16,
    ));
  text-align: left;
  margin-left: 20px;

}

@media screen and (max-width: 576px) {
  .headerContainer {
    min-height: calculatePixels(576, 260) !important;
  }

  .mainHeading {
    font-size: calculatePixels(576, 48) !important;
  }

  .subHeading {
    font-size: calculatePixels(576, 16) !important;
  }

  .heading {
    font-size: 20px;
  }

  .readerOfMonthContainer {
    height: calculatePixels(576, 353) !important;
    width: calculatePixels(576, 846) !important;
    border-radius: calculatePixels(576, 20) !important;
    margin-top: calculatePixels(576, 300) !important;
  }

  .readerOfMonthSubContainer {
    min-height: calculatePixels(576, 323) !important;
    max-height: calculatePixels(576, 323) !important;
    min-width: calculatePixels(576, 593) !important;
    max-width: calculatePixels(576, 593) !important;
    border-radius: calculatePixels(576, 45) !important;
    margin-top: calculatePixels(576, -130) !important;
  }

  .title {
    font-size: calculatePixels(576, 40) !important;
  }

  .avatarStyle {
    height: calculatePixels(576, 135) !important;
    width: calculatePixels(576, 135) !important;
  }

  .badgeStyle {
    min-width: calculatePixels(576, 199) !important;
    max-width: calculatePixels(576, 199) !important;
    min-height: calculatePixels(576, 261) !important;
    max-height: calculatePixels(576, 261) !important;
  }

  .winnerName {
    font-size: calculatePixels(576, 21) !important;
  }

  .winnerAge {
    font-size: calculatePixels(576, 18) !important;
  }

  .userInfoContainer {
    margin-top: calculatePixels(576, -150) !important;
  }

  .statContainer {
    height: calculatePixels(576, 95) !important;
    width: calculatePixels(576, 208) !important;
    border-radius: calculatePixels(576, 15) !important;
  }

  .statCount {
    font-size: calculatePixels(576, 21) !important;
  }

  .statLabel {
    font-size: calculatePixels(576, 18) !important;
  }

  .bgContainer {
    min-height: calculatePixels(992, 537) !important;
    border-radius: calculatePixels(992, 40) !important;
  }

  .filterIcon {
    height: calculatePixels(992, 20) !important;
    width: calculatePixels(992, 20) !important;
  }

  .filterLabel {
    font-size: calculatePixels(992, 16) !important;
  }

  .optionsContainer {
    top: calculatePixels(992, 30) !important;
  }
}

@media (min-width: 576px) and (max-width: 992px) {
  .headerContainer {
    min-height: calculatePixels(768, 260) !important;
  }

  .mainHeading {
    font-size: calculatePixels(768, 48) !important;
    margin-left: 0px;
  }

  .subHeading {
    font-size: calculatePixels(768, 16) !important;
    margin-left: 0px;

  }

  .readerOfMonthContainer {
    height: calculatePixels(768, 353) !important;
    width: calculatePixels(768, 846) !important;
    border-radius: calculatePixels(768, 20) !important;
    margin-top: calculatePixels(768, 300) !important;
  }

  .readerOfMonthSubContainer {
    min-height: calculatePixels(768, 323) !important;
    max-height: calculatePixels(768, 323) !important;
    min-width: calculatePixels(768, 593) !important;
    max-width: calculatePixels(768, 593) !important;
    border-radius: calculatePixels(768, 45) !important;
    margin-top: calculatePixels(768, -130) !important;
  }

  .title {
    font-size: calculatePixels(768, 40) !important;
  }

  .avatarStyle {
    height: calculatePixels(768, 135) !important;
    width: calculatePixels(768, 135) !important;
  }

  .badgeStyle {
    min-width: calculatePixels(768, 199) !important;
    max-width: calculatePixels(768, 199) !important;
    min-height: calculatePixels(768, 261) !important;
    max-height: calculatePixels(768, 261) !important;
  }

  .winnerName {
    font-size: calculatePixels(768, 21) !important;
  }

  .winnerAge {
    font-size: calculatePixels(768, 18) !important;
  }

  .userInfoContainer {
    margin-top: calculatePixels(768, -150) !important;
  }

  .statContainer {
    height: calculatePixels(768, 95) !important;
    width: calculatePixels(768, 208) !important;
    border-radius: calculatePixels(768, 15) !important;
  }

  .statCount {
    font-size: calculatePixels(768, 21) !important;
  }

  .statLabel {
    font-size: calculatePixels(768, 18) !important;
  }

  .bgContainer {
    min-height: calculatePixels(1200, 537) !important;
    border-radius: calculatePixels(1200, 40) !important;
  }

  .filterIcon {
    height: calculatePixels(1200, 20) !important;
    width: calculatePixels(1200, 20) !important;
  }

  .filterLabel {
    font-size: calculatePixels(1200, 16) !important;
  }

  .optionsContainer {
    top: calculatePixels(1200, 30) !important;
  }
}