@import "shared/utils/responsive.module.scss";
@import "shared/utils/colors.scss";

.reportDialog {
  @include MRP(
    (
      "max-width": 530,
    )
  );
}

.labelText {
  @include MRP(
    (
      "font-size": 28,
    )
  );
  font-family: PoppinsMedium;
  color: #0f1106;
}

.reportIcon {
  @include MRP(
    (
      "height": 79,
      "width": 79,
    )
  );
}

.textAreaComp {
  @include MRP(
    (
      "font-size": 16,
      "height": 148,
      "padding": 14,
      "border-radius": 24,
      "line-height": 24,
    )
  );
  background: #f9fafb;
  border: 1px solid #d0d5dd;
  width: 100%;
  color: $BLACK;
  &:focus-visible {
    outline: none;
  }
}

.dotContainer {
  height: 20px;
  width: 20px;
  background-color: white;
  border: 1px solid $PRIMARY;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
}

.dot {
  height: 10px;
  width: 10px;
  border-radius: 100%;
  background-color: $PRIMARY;
}

.optionLabel {
  font-family: PoppinsRegular;
  @include MRP(
    (
      "font-size": 18,
    )
  );
  color: #1a1a1a;
  text-transform: capitalize;
}

.cancelButton {
  width: 100%;
  @include MRP(
    (
      "font-size": 16,
      "height": 52,
      "border-radius": 32,
    )
  );
  background: #ffffff !important;
  border: 1px solid #d0d5dd !important;
  color: #344054 !important;
}

.reportButton {
  width: 100%;
  @include MRP(
    (
      "font-size": 16,
      "height": 52,
      "border-radius": 32,
    )
  );
}

@media screen and (max-width: 576px) {
  .reportDialog {
    max-width: 300px !important;
    margin: auto !important;
  }
  .labelText {
    font-size: calculatePixels(768, 28) !important;
  }
  .reportIcon {
    height: calculatePixels(768, 79) !important;
    width: calculatePixels(768, 79) !important;
  }
  .textAreaComp {
    font-size: calculatePixels(768, 16) !important;
    height: calculatePixels(768, 148) !important;
    padding: calculatePixels(768, 14) !important;
    border-radius: calculatePixels(768, 24) !important;
    line-height: calculatePixels(768, 24) !important;
  }
  .dotContainer {
    height: calculatePixels(768, 20) !important;
    width: calculatePixels(768, 20) !important;
  }
  .dot {
    height: calculatePixels(768, 10) !important;
    width: calculatePixels(768, 10) !important;
  }
  .optionLabel {
    font-size: calculatePixels(768, 18) !important;
  }
  .cancelButton {
    font-size: calculatePixels(768, 16) !important;
    height: calculatePixels(768, 52) !important;
    border-radius: calculatePixels(768, 32) !important;
  }
  .reportButton {
    font-size: calculatePixels(768, 16) !important;
    height: calculatePixels(768, 52) !important;
    border-radius: calculatePixels(768, 32) !important;
  }
}

@media screen and (min-width: 576px) {
  .dotContainer {
    height: calculatePixels(768, 20) !important;
    width: calculatePixels(768, 20) !important;
  }
  .dot {
    height: calculatePixels(768, 10) !important;
    width: calculatePixels(768, 10) !important;
  }
}
@media screen and (min-width: 768px) {
  .dotContainer {
    height: calculatePixels(768, 20) !important;
    width: calculatePixels(768, 20) !important;
  }
  .dot {
    height: calculatePixels(768, 10) !important;
    width: calculatePixels(768, 10) !important;
  }
}
@media screen and (min-width: 992px) {
  .dotContainer {
    height: calculatePixels(768, 20) !important;
    width: calculatePixels(768, 20) !important;
  }
  .dot {
    height: calculatePixels(768, 10) !important;
    width: calculatePixels(768, 10) !important;
  }
}
@media screen and (min-width: 1200px) {
  .dotContainer {
    height: calculatePixels(992, 20) !important;
    width: calculatePixels(992, 20) !important;
  }
  .dot {
    height: calculatePixels(992, 10) !important;
    width: calculatePixels(992, 10) !important;
  }
}
@media screen and (min-width: 1400px) {
  .dotContainer {
    height: calculatePixels(1200, 20) !important;
    width: calculatePixels(1200, 20) !important;
  }
  .dot {
    height: calculatePixels(1200, 10) !important;
    width: calculatePixels(1200, 10) !important;
  }
}
@media screen and (min-width: 1600px) {
  .dotContainer {
    height: calculatePixels(1400, 20) !important;
    width: calculatePixels(1400, 20) !important;
  }
  .dot {
    height: calculatePixels(1400, 10) !important;
    width: calculatePixels(1400, 10) !important;
  }
}
