@import "shared/utils/colors.scss";
@import "shared/utils/responsive.module.scss";

.booksContainer {
  background-color: white;
  width: 100%;
  border-radius: 8px;
  @include responsiveProperty(
    (
      "padding-bottom": 15,
      "padding-left": 15,
      "padding-right": 15,
      "gap": 35,
    )
  );
}

@media (max-width: 576px) {
  .booksContainer {
    padding-bottom: calculatePixels(768, 15) !important;
    padding-left: calculatePixels(768, 15) !important;
    padding-right: calculatePixels(768, 15) !important;
    gap: calculatePixels(768, 35) !important;
  }
}

@media (min-width: 576px) and (max-width: 992px) {
  .booksContainer {
    padding-bottom: calculatePixels(1200, 15) !important;
    padding-left: calculatePixels(1200, 15) !important;
    padding-right: calculatePixels(1200, 15) !important;
    gap: calculatePixels(1200, 35) !important;
  }
}
