@import "shared/utils/responsive.module.scss";
@import "shared/utils/colors.scss";

.notContentFoundContnr {
  height: calc(100vh - 82px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.leftContainer {
  min-height: fit-content;
  max-height: calc(100vh - 82px);
  height: 100%;
  border-radius: 8px;
  overflow-y: auto;
  overflow-x: hidden;
  position: sticky;
  float: left;
  top: 82px;
  -ms-overflow-style: none !important;
  scrollbar-width: none !important;
  &::-webkit-scrollbar {
    display: none;
  }
}

.supportWrapper {
  width: 100%;

  .supportContent {
    height: 80vh;
    overflow-y: auto;
    background: #f9f9f9;
    padding-bottom: 25px;
  }

  .ticketsList {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .addTicket {
    max-width: 140px;
    min-height: 45px;
    max-height: 45px;
    height: 100%;
  }
}

@media screen and (max-width: 992px) {
  .leftContainer {
    min-height: fit-content;
    max-height: fit-content;
    height: 100%;
  }
}
